
<footer> 
       <div class="f-info">
          <div class="f-info-socials">
           <a href="https://www.facebook.com/airbnb/" > <i class="fa-brands fa-square-facebook"></i></a>
           <a href="https://x.com/Airbnb" > <i class="fa-brands fa-square-twitter"></i></a>
           <a href="https://www.instagram.com/airbnb/" > <i class="fa-brands fa-square-instagram"></i></a>
          </div>
          <div class="airbnb">
            © 2024 Journeys, Inc.
          </div>
           <div class="f-info-links">
              <a href="https://www.airbnb.co.in/help/article/2855" >Privacy</a>
              <a href="https://www.airbnb.co.in/help/article/2908" >Terms</a>
              <a href="https://www.airbnb.co.in/sitemaps/v2" >Sitemap</a>
              <a href="https://www.airbnb.co.in/about/company-details" >Company</a>
              <br><br><br><br>
           </div>
       </div>
</footer>

