<% layout("/layouts/boilerplate") %>

 <body>
    <h1>Something went wrong!</h1>
    <p>Status Code: <%= err.statusCode %></p>
    <p>Message: <%= err.message %></p>
    <a href="/listings">Go Back to Listings</a>
</body>